<%= search_form_for @q, class: 'form-horizontal' do |f| %>
<div class="form-group">
  <%= f.label :email_cont, class: 'control-label col-md-2' %>
  <div class="col-md-10">
    <div class="input-group">
      <%= f.search_field :email_cont, class: 'form-control' %>
      <div class="input-group-btn">
        <%= f.button class: 'btn  btn-default' do %>
          <i class="fa fa-search"></i>
          &nbsp;
          Search
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<table class="table table-bordered table-responsive table-striped">
  <thead>
    <tr>
      <th>
        <%= sort_link @q, :id, '#' %>
      </th>
      <th>
        <%= sort_link @q, :email %>
      </th>
      <th>
        Gender
      </th>
      <th>
        <%= sort_link @q, :age %>
      </th>
      <th>
        Points of Interest
      </th>
      <th>
        <!-- Actions -->
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'users/index/row', collection: @users, as: :user %>
  </tbody>
  <% if can? :admin, User %>
    <tfoot>
      <tr>
        <td colspan="6" class="text-right">
          <%= link_to users_path(format: :csv), class: 'btn btn-success' do %>
            Export to csv
            <i class="fa fa-share"></i>
          <% end %>
        </td>
      </tr>
    </tfoot>
  <% end %>
</table>
